@charset "utf-8";
/*********************顶部********************/


/*********************主体********************/


/*********************底部********************/
.footer{
	margin-top:300px;
}
.footer p{
	font:12px "微软雅黑";
}
.footer a:link,.footer a:visited{
	color: blue;
}
.footer a:hover{
	text-decoration:underline;
}